# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual env
venv/
.venv/
Auth0/

# Django
*.log
staticfiles/
media/
.local/
.env
.env.*
!.env.example

# DB (dev only)
db.sqlite3
.data/

# Node
node_modules/
npm-debug.log*
